<!DOCTYPE html>
<html>
<head>
    <title>Appointments List</title>
</head>
<body>
    <h2>List of Appointments</h2>
    <ul>
        {% for appointment in appointments %}
            <li>
                {{ appointment.customer_name }} - {{ appointment.service }} - {{ appointment.appointment_date }}
                <a href="{% url 'appointment_detail' appointment.id %}">View</a>
                <a href="{% url 'update_appointment' appointment.id %}">Edit</a>
                <a href="{% url 'delete_appointment' appointment.id %}">Delete</a>
                <a href="{% url 'update_appointment' appointment.id %}">Modifica</a>  <!-- Link di aggiornamento -->
            </li>
        {% endfor %}
    </ul>
</body>
</html>
