<h1>Modifica Appuntamento</h1>
<form method="post">
    {% csrf_token %}
    <label for="customer_name">Nome cliente:</label>
    <input type="text" id="customer_name" name="customer_name" value="{{ appointment.customer_name }}"><br>

    <label for="service">Servizio:</label>
    <input type="text" id="service" name="service" value="{{ appointment.service }}"><br>

    <label for="appointment_date">Data appuntamento:</label>
    <input type="datetime-local" id="appointment_date" name="appointment_date" value="{{ appointment.appointment_date|date:'Y-m-d\TH:i' }}"><br>

    <input type="submit" value="Salva modifiche">
</form>
